table{
	background-color:blue;
	margin:auto;
	border: 3px solid red;
}
#Result{
	width:176px;
	color: red;
	font-size: 20px;
	height: 30px;	
}
.btn{
	width:34px;
	height:32px;
	font-weight:bold;
	font-size: 20px;
	margin-left: 1px;
	margin-right: 1px;
}
#equ{
	width:34px;
	height:66px;}
#zero{
	width:auto;
	height:auto;
}